<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
         
         {% stylesheets '@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/main.css') }}" />{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
   
    </head>
    
    <body>
        <div id="user_panel"> 
             {% if is_granted('ROLE_USER') %}
            
                Zalogowany jako {{app.user}}! |
                <a href={{ path('fos_user_change_password') }}> Zmień hasło </a>|
                 <a href= {{ path('fos_user_security_logout')}}> Wyloguj się </a>
            {% else  %} 
                <a href={{ path('fos_user_security_login')}}> Zaloguj się </a>|
                <a href={{ path('fos_user_registration_register')}}> Zarejestruj się </a>

           
        {% endif %}
         |<a href={{ path('root') }}> Strona główna </a>
        </div>
        <div id="content">

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
    {% for flashMessage in app.session.flashbag.get('error') %}
     <br>
     <div class="flash-notice">
         {{ flashMessage }}
     </div>
    {% endfor %}
</div> 
<center>
<footer>&copy<a href="mailto: gadi@gadi.org.pl"> gadi_promienna </a>, obrazek tła pochodzi ze strony <a href="https://www.sharefaith.com/feature/free-myspace-backgrounds.html"> www.sharefaith.com </a></foter> 
</center>
<br>
</body>

</html>
