{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jedzenie</h1>

    <table>
        <tbody>
            <tr>
                <th>Nazwa</th>
                <td>{{ food.name }}</td>
            </tr>
            <tr>
                <th>Energia</th>
                <td>{{ food.energy }}</td>
            </tr>
            <tr>
                <th>Wysokość, którą dodaje</th>
                <td>{{ food.height }}</td>
            </tr>
            <tr>
                <th>Szerokość jaką dodaje</th>
                <td>{{ food.width}}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('food_index') }}">Powrót</a>
        </li>
        <li>
            <a href="{{ path('food_edit', { 'id': food.id }) }}">Edytuj</a>
        </li>
    </ul>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        
    
{% endblock %}
