{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista użytkowników</h1>

    <table>
        <thead>
            <tr>
                <th>Imię</th>
                <th>Email </th>
                <th>Rola</th>
                <th>Ostatnie logowanie</th>
                <th>Działania</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><b>{{ user.username}}</b></td>
                <td>{{ user.email}}</td>
                <td>{{ user.roles[0]}}</td>
                <td>{% if user.lastlogin %}
                     {{ user.lastlogin.format('Y-m-d H:i')}}
                {% endif %}
                </td>
                <td>
                    <ul>
                       
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edytuj profil uzytkownika</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit_password', { 'id': user.id }) }}">Zmień hasło użytkownika</a>
                        </li>
                           <li>
                            <a href="{{ path('simple_delete_user', { 'id': user.id }) }}">Usuń użytkownika</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Stwórz nowego użytkownika</a>
        </li>
    </ul>
{% endblock %}
