{% extends 'base.html.twig' %}

{% block body %}



    <h1>Lista stworzeń </h1>
 
    <table>
        <thead>
            <tr>
               
                <th>Imię</th>
                <th>Kolor</th>
                <th>Wiek</th>
                <th>szerokość</th>
                <th>Wysokość</th>
                <th>Siła</th>
                <th>Inteligencja</th>
                <th>Radość</th>
                
                <th>Energia</th>
               <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
    {% if animals is defined and animals|length %}
        {% for animal in animals %}
            <tr>
                <td>{{ animal.name }}</td>
                <td>{{ animal.color }}</td>
                <td>{{ animal.age }}</td>
                <td>{{ animal.width }}</td>
                <td>{{ animal.height }}</td>
                <td>{{ animal.strength }}</td>
                <td>{{ animal.intelligence }}</td>
                <td>{{ animal.hapiness }}</td>
                <td>{{ animal.energy }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('animal_show', { 'id': animal.id }) }}">Szczegóły</a>
                        </li>
                        <li>
                            <a href="{{ path('animal_edit', { 'id': animal.id }) }}">Edytuj</a>
                        </li>
                           <li>
                            <a href="{{ path('simple_delete_animal', { 'id': animal.id }) }}">Usuń</a>
                        </li>

                </ul> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
        

    <ul>
        <li>
            <a href="{{ path('animal_new') }}">Dodaj stworka </a>
        </li>
    </ul>

    <div class="navigation text-center">
            {{ pagerfanta(animals, 'twitter_bootstrap3_translated', { routeName: ('animal_index_paginated') }) }}
        </div>
 <br>
{% endblock %}
